<template>
    <div>
        <p>First Name: {{profileData.firstName}}</p>
        <p>Last Name: {{profileData.lastName}}</p>
        <p>Username: {{profileData.userName}}</p>
        <p>Email: {{profileData.email}}</p>
        <p>User Type: {{profileData.isAuthor ? "Author" : "Reader"}}</p>
        <a class="has-text-link is-link">
            <router-link :to="{path: 'profile/update', query: {profileId: this.profileData.id}}">Edit</router-link>
        </a>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        name: "ProfileInformation",
        computed: mapState([
            'profileData'
        ]),
    }
</script>

<style scoped>

</style>
