<template>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Become Author.</p>
            </header>
            <section class="modal-card-body">
                <p>Are you sure you want to update this account?</p>
            </section>
            <footer class="modal-card-foot">
                <button class="is-large" @click="updateToAuthor">Update</button>
                <button class="" aria-label="close" @click="closeModal">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UpdateToAuthorModal",
        methods: {
            closeModal() {
                this.$emit('closeModal')
            },
            updateToAuthor() {
                this.$emit('updateToAuthor')
            }
        }
    }
</script>

<style scoped>

</style>
