<template>
    <div class="footer">
        <div class="container">
            <div class="has-text-centered">
                <!--<div class="nav-center">-->
                    <!--<a class="nav-item">-->
                        <!--<span class="icon">-->
                            <!--<i class="fa fa-twitter"></i>-->
                        <!--</span>-->
                    <!--</a>-->
                    <!--<a class="nav-item">-->
                        <!--<span class="icon">-->
                            <!--<i class="fa fa-facebook"></i>-->
                        <!--</span>-->
                    <!--</a>-->
                    <!--<a class="nav-item">-->
                        <!--<span class="icon">-->
                            <!--<i class="fa fa-github"></i>-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</div>-->
                <p>Contact us at <a href="http://github.com/plasticneko">info@legionhike.com</a></p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "footer"
    }
</script>

<style scoped>

</style>
