<template>
    <div class="header-wrapper">
        <section class="hero-top">
            <div class="header">
                <div class="header-nav">
                    <nav class="nav">
                        <div class="nav-center has-text-centered">
                            <a class="nav-item">
                                <b>
                                    <router-link to="/">Home</router-link>
                                </b>
                            </a>
                            <a class="nav-item" v-if="!this.logged">
                                <b>
                                    <router-link to="/signup">Sign up</router-link>
                                </b>
                            </a>
                            <a class="nav-item" v-if="!this.logged">
                                <b>
                                    <router-link to="/login">Login</router-link>
                                </b>
                            </a>
                            <a href="/" @click="finishSession" class="nav-item" v-if="this.logged">
                                <b>Logout</b>
                            </a>
                            <a class="nav-item" v-if="this.logged">
                                <b>
                                    <router-link to="/profile">Profile</router-link>
                                </b>
                            </a>
                            <a class="nav-item">
                                <b>
                                    <router-link to="/contact-us">Contact Us</router-link>
                                </b>
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="header-title">
                    <section class="hero is-medium has-text-centered">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title is-1">Legion Hike</h1>
                                <!--<h3 class="subtitle is-8">By PretorianHackers</h3>-->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        name: "Header",
        computed: mapState([
            'logged'
        ]),
        data() {
            return {
            }
        },
        methods: {
            ...mapActions([
                'logout'
            ]),
            finishSession() {
                this.logout()
                this.$router.push('/')
            }
        }
    }
</script>

<style scoped>
</style>
