<template>
  <div class="columns is-centered is-multiline">
    <div class="column is-7">
      <div class="post">
        <div class="content">
          <div class="content-header has-text-centered">
            <h3 class="title is-3">
              <b>
                <a href>{{this.article.title}}</a>
              </b>
            </h3>
            <h6 class="subtitle is-6" v-if="this.article.postDate">Posted {{this.article.postDate.substring(0, 10)}}</h6>
            <hr />
          </div>
          <p class="has-text-danger">{{errorMessage}}</p>
          <p class="subtitle is-4">{{this.article.shortDescription}}</p>
          <div class="quillWrapper">
            <div class="ql-snow">
              <div class="ql-editor" v-html="this.article.blogHtml"></div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <hr />
      <h1 class="title">Comments</h1>
      <div v-for="(comment, index) in this.article.comments" v-bind:key="index">
        <div class="content">
          <p>
            <strong>{{comment.profile}}</strong>
            <br />
            {{comment.content}}
            <br />
            <!--<small><a>Like</a> · <a>Reply</a> · 3 hrs</small>-->
          </p>
        </div>
        <hr />
      </div>
      <div class="field">
        <p class="control">
          <textarea v-model="comment" class="textarea" placeholder="Add a comment..."></textarea>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <a class="button is-info" @click="addComment">Submit</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import BlogApiClient from "../client/blogApiClient";

export default {
  name: "Article",
  data() {
    return {
      article: Object,
      comment: "",
      error: false,
      errorMessage: "",
      client: new BlogApiClient()
    };
  },
  methods: {
    addComment() {
      this.client
        .addComment(this.article.id, this.parseRequest())
        .then(() => {
          this.article.comments.push({
            content: this.comment,
            profile: this.logged ? this.profileData.userName : "NotLogged"
          });
          this.comment = "";
        })
        .catch(err => {
          this.error = true;
          this.errorMessage = err.response.data.message;
        });
    },
    parseRequest() {
      return {
        comment: {
          content: this.comment,
          profile: this.logged ? this.profileData.userName : "NotLogged"
        }
      };
    }
  },
  computed: mapState(["logged", "profileData"]),
  mounted() {
    this.client
      .getArticleById(this.$route.params.id)
      .then(data => this.article = data)
      .catch(err => {
        this.error = true;
        this.errorMessage = err.response.data.message;
      });
  }
};
</script>

<style scoped>
</style>
