<template>
  <div>
    <div class="container is-centered">
      <section class="hero has-text-centered">
        <div class="hero-body">
          <h1 class="title">Create Article</h1>
        </div>
      </section>
      <br />
      <div class="subtitle is-info has-text-danger" v-if="error">
        <p>{{errorMessage}}</p>
      </div>
      <div class="box">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Title" v-model="title" />
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea class="textarea" placeholder="Description" v-model="description"></textarea>
          </div>
        </div>
        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select">
              <select v-model="category">
                <option selected>Hiking</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="is-full">
        <VueEditor v-model="content" />
      </div>
      <br />
      <div>
        <button class="button is-info is-pulled-right" @click="savePost">Save</button>
      </div>
      <br />
      <br />
      <h1 class="title">Preview</h1>
      <br />
      <div class="columns is-centered is-multiline">
        <div class="column is-7">
          <div class="post">
            <div class="content">
              <div class="content-header has-text-centered">
                <h3 class="title is-3">
                  <b>
                    <a href>{{title}}</a>
                  </b>
                </h3>
                <h6 class="subtitle is-6">Posted {{new Date().toISOString().substring(0, 10)}}</h6>
                <hr />
              </div>
              <h4 class="title is-4 is-spaced">{{description}}</h4>
              <div class="quillWrapper">
                <div class="ql-snow">
                  <div class="ql-editor" v-html="content"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import BlogApiClient from "../client/blogApiClient";

export default {
  name: "ArticleEditor",
  props: ["authorEmail"],
  data() {
    return {
      content: "",
      title: "",
      description: "",
      category: "",
      error: false,
      errorMessage: "",
      clinet: new BlogApiClient()
    };
  },
  methods: {
    savePost() {
      if (this.$route.query.articleId === undefined) {
        this.clinet
          .createArticle(this.parseRequest())
          .then(data => {
            this.$router.push("/article/" + data.id);
          })
          .catch(err => {
            this.error = true;
            this.errorMessage = err.response.data.message;
          });
      } else {
        this.clinet
          .updateArticle(this.$route.query.articleId, this.parseRequest())
          .then(data => {
            this.$router.push("/article/" + data.id);
          })
          .catch(err => {
            this.error = true;
            this.errorMessage = err.response.data.message;
          });
      }
    },
    parseRequest() {
      return {
        title: this.title,
        blogHtml: this.content,
        shortDescription: this.description,
        author: this.$store.state.profileData.id,
        category: this.category
      };
    }
  },
  mounted() {
    if (this.$route.query.articleId !== undefined) {
      this.clinet
        .getArticleById(this.$route.query.articleId)
        .then(data => {
          this.content = data.blogHtml;
          this.title = data.title;
          this.description = data.shortDescription;
          this.category = data.category;
        });
    }
  },
  components: {
    VueEditor
  }
};
</script>

<style scoped>
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
</style>
