<template>
  <form @submit="submit" class="columns is-centered">
    <div class="column is-half box">
      <h1 class="title has-text-info">Contact Us</h1>
      <div class="subtitle is-info has-text-danger" v-if="error">
        <p>{{errorMessage}}</p>
      </div>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="First Name" v-model="name" />
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" placeholder="Last Name" v-model="email" />
        </div>
      </div>
      <div class="field">
        <label class="label">User Name</label>
        <div class="control">
          <textarea class="textarea" placeholder="Description" v-model="content"></textarea>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button is-link is-success" value="Submit" />
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import BlogApiClient from "../client/blogApiClient";

export default {
  name: "ContactUs",
  data() {
    return {
      name: "",
      email: "",
      content: "",
      error: false,
      errorMessage: "",
      client: new BlogApiClient()
    };
  },
  methods: {
    submit() {
      this.client
        .contactUs(this.parseRequest())
        .then(() => {
          this.$router.push("home");
        })
        .catch(err => {
          this.error = true;
          this.errorMessage = err.response.data.message;
        });
    },
    parseRequest() {
      return {
        name: this.email,
        email: this.email,
        content: this.content
      };
    }
  }
};
</script>

<style scoped>
</style>
