<template>
  <div>
    <div class="columns is-centered is-multiline has-text-centered">
      <div class="column is-6">
        <div v-for="(article, index) in articles" v-bind:key="index" class="post">
          <div class="content">
            <div class="content-header">
              <h3 class="title is-3">
                <b>
                  <router-link :to="'article/'+ article.id">{{article.title}}</router-link>
                </b>
              </h3>
              <h4 class="title is-4 is-spaced">{{article.shortDescription}}</h4>
              <h6 class="subtitle is-6">Posted {{article.postDate.substring(0, 10)}}</h6>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BlogApiClient from "../client/blogApiClient";

export default {
  name: "home",
  data() {
    return {
      topArticlesUrl: "http://localhost:8080/article/top",
      articles: Object,
      client: new BlogApiClient()
    };
  },
  mounted() {
    this.client
      .getTopArticles()
      .then(data => this.articles = data);
  },
  components: {}
};
</script>

