<template>
  <div class="container">
    <form @submit.prevent="submit" class="columns is-centered">
      <div class="is-half column box">
        <h1 class="title has-text-info">Login</h1>
        <div class="subtitle is-info has-text-danger" v-if="error">
          <p>{{errorMessage}}</p>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              class="input"
              type="email"
              placeholder="Email"
              v-model="email"
              autofocus
              id="email"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input
              class="input"
              type="password"
              placeholder="Password"
              v-model="password"
              id="password"
            />
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input type="submit" class="button is-link is-success" value="Submit" />
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import BlogApiClient from "../client/blogApiClient";
import { mapActions } from "vuex";

export default {
  name: "LogIn",
  data() {
    return {
      email: "",
      password: "",
      response: Object,
      error: false,
      errorMessage: "",
      client: new BlogApiClient()
    };
  },
  methods: {
    ...mapActions(["setProfileData", "login"]),
    submit() {
      this.client
        .login(this.parseRequest())
        .then(data => {
          this.login();
          this.setProfileData(data);
          this.$router.push("/");
        })
        .catch(err => {
          this.error = true;
          this.errorMessage = err.response.data.message;
        });
    },
    parseRequest() {
      return {
        email: this.email,
        password: this.password
      };
    }
  }
};
</script>

<style scoped>
</style>
