<template>
  <div class="container">
    <div class="box is-centered">
      <div class="columns">
        <div class="column menu">
          <p class="menu-label">Profile</p>
          <ul class="menu-list">
            <li>
              <a @click="showDeleteProfileModal = true">Delete Account</a>
            </li>
            <li>
              <a
                @click="showUpdateToAuthorModal = true"
                v-if="!this.profileData.isAuthor"
              >Become Author</a>
            </li>
            <li>
              <a @click="articleEditor" v-if="this.profileData.isAuthor">Create Article</a>
            </li>
          </ul>
        </div>
        <div class="column">
          <ProfileInformation />
        </div>
      </div>
      <DeleteProfileModal
        @deleteProfile="deleteProfile"
        @closeModal="closeModal"
        v-if="showDeleteProfileModal"
        class="is-active"
      />
      <UpdateToAuthorModal
        @updateToAuthor="updateToAuthor"
        @closeModal="closeModal"
        v-if="showUpdateToAuthorModal"
        class="is-active"
      />
    </div>
    <div class="box is-centered" v-if="this.profileData.isAuthor">
      <p class="menu-label">Articles</p>
      <div class v-for="(article,index) in articles" v-bind:key="index">
        <a class="is-link">
          <router-link :to="{path: 'article/' + article.id}">{{article.title}}</router-link>
        </a>
        <span>-</span>
        <a class="is-right is-info is-link">
          <router-link :to="{path: 'article-editor', query: {articleId: article.id}}">Edit</router-link>
        </a>
        <hr />
      </div>
    </div>
  </div>
</template>

<script>
import BlogApiClient from "../client/blogApiClient";
import { mapState, mapActions } from "vuex";
import DeleteProfileModal from "../components/profile/DeleteProfileModal";
import ProfileInformation from "../components/profile/ProfileInformation";
import UpdateToAuthorModal from "../components/profile/UpdateToAuthorModal";

export default {
  name: "Profile",
  data() {
    return {
      showDeleteProfileModal: false,
      showUpdateToAuthorModal: false,
      articles: Object,
      client: new BlogApiClient()
    };
  },
  computed: mapState(["profileData"]),
  methods: {
    ...mapActions(["logout", "setProfileData"]),
    deleteProfile() {
      this.showDeleteProfileModal = false;
      this.client
        .deleteProfile(this.profileData.id)
        .then(() => {
          this.logout();
          this.setProfileData(Object);
          this.$router.push("/");
        });
    },
    updateToAuthor() {
      this.showUpdateToAuthorModal = false;
      this.client
        .updateToAuthor(this.profileData.id)
        .then(data => this.setProfileData(data));
    },
    closeModal() {
      this.showDeleteProfileModal = false;
      this.showUpdateToAuthorModal = false;
    },
    articleEditor() {
      this.$router.push("/article-editor");
    }
  },
  mounted() {
    if (this.profileData.isAuthor) {        
      this.client
        .getArticlesByAuthor(this.profileData.id)
        .then(data => this.articles = data)
    }
  },
  components: {
    ProfileInformation,
    DeleteProfileModal,
    UpdateToAuthorModal
  }
};
</script>

<style scoped>
</style>
