<template>
  <form @submit="submit" class="columns is-centered">
    <div class="column is-half box">
      <h1 class="title has-text-info">SignUp</h1>
      <div class="subtitle is-info has-text-danger" v-if="error">
        <p>{{errorMessage}}</p>
      </div>
      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="First Name" v-model="firstName" />
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Last Name" v-model="lastName" />
        </div>
      </div>
      <div class="field">
        <label class="label">User Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="User Name" v-model="userName" />
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email" v-model="email" />
        </div>
      </div>
      <div class="field" v-if="!isUpdate">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="Password" v-model="password" />
        </div>
      </div>
      <div class="field">
        <label class="label">User Type</label>
        <div class="control">
          <div class="select">
            <select v-model="userType">
              <option selected>Reader</option>
              <option>Author</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field" v-if="!isUpdate">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" v-model="tc" />
            I agree to the
            <router-link to="/terms-and-conditions">terms and conditions</router-link>
          </label>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button is-link is-success" value="Submit" />
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import BlogApiClient from "../client/blogApiClient";
import { mapActions } from "vuex";

export default {
  name: "SignUp",
  data() {
    return {
      firstName: "",
      lastName: "",
      userName: "",
      email: "",
      password: "",
      userType: "",
      termAndConditions: false,
      response: Object,
      error: false,
      errorMessage: "Something went wrong",
      tc: false,
      isUpdate: false,
      client: new BlogApiClient()
    };
  },
  methods: {
    ...mapActions(["setProfileData", "login"]),
    submit(event) {
      event.preventDefault();
      if (this.isUpdate) {
        this.client
          .updateProfile(this.$route.query.profileId, this.parseRequest())
          .then(data => {
            this.setProfileData(data);
            this.$router.push("/profile");
          })
          .catch(err => {
            this.error = true;
            this.errorMessage = err.response.data.message;
          });
      } else {
        if (this.validateForm()) {
          this.client
            .createProfile(this.parseRequest())
            .then(data => {
              this.login();
              this.setProfileData(data);
              this.$router.push("/profile");
            })
            .catch(error => {
              this.error = true;
              console.log(error);
              
              this.errorMessage = error.message;
            });
        }
      }
    },
    validateForm() {
      return this.validateTC();
    },
    validateTC() {
      if (!this.tc) {
        this.error = true;
        this.errorMessage = "Please accept term and conditions to proceed";
      }
      return this.tc;
    },
    parseRequest() {
      return {
        firstName: this.firstName,
        lastName: this.lastName,
        userName: this.userName,
        email: this.email,
        password: this.password,
        isAuthor: this.userType !== "Reader"
      };
    },
    parseResponse() {
      return {
        firstName: this.firstName,
        lastName: this.lastName,
        userName: this.userName,
        email: this.email,
        isAuthor: this.userType !== "Reader"
      };
    }
  },
  mounted() {
    this.client
      .getProfile(this.$route.query.profileId)
      .then(data => {
        this.firstName = data.firstName;
        this.lastName = data.lastName;
        this.userName = data.userName;
        this.email = data.email;
        this.userType = data.isAuthor ? "Author" : "Reader";
      });
  }
};
</script>

<style scoped>
</style>
