<template>
  <form @submit="submit" class="columns is-centered">
    <div class="column is-half box">
      <h1 class="title has-text-info">Update Profile</h1>
      <div class="subtitle is-info has-text-danger" v-if="error">
        <p>{{errorMessage}}</p>
      </div>
      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="First Name" v-model="firstName" />
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Last Name" v-model="lastName" />
        </div>
      </div>
      <div class="field">
        <label class="label">User Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="User Name" v-model="userName" />
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email" v-model="email" />
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button is-link is-success" value="Submit" />
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import BlogApiClient from "../client/blogApiClient";
import { mapActions } from "vuex";

export default {
  name: "UpdateProfile",
  data() {
    return {
      firstName: "",
      lastName: "",
      userName: "",
      email: "",
      password: "",
      userType: "",
      termAndConditions: false,
      response: Object,
      error: false,
      errorMessage: "Something went wrong",
      client: new BlogApiClient()
    };
  },
  methods: {
    ...mapActions(["setProfileData"]),
    submit(event) {
      event.preventDefault();
      this.client
        .updateProfile(this.$route.query.profileId, this.parseRequest())
        .then(data => {
          this.setProfileData(data);
          this.$router.push("/profile");
        })
        .catch(err => {
          this.error = true;
          this.errorMessage = err.response.data.message;
        });
    },
    parseRequest() {
      return {
        firstName: this.firstName,
        lastName: this.lastName,
        userName: this.userName,
        email: this.email
      };
    }
  },
  mounted() {
    this.client
      .getProfile(this.$route.query.profileId)
      .then(data => {
        this.firstName = data.firstName;
        this.lastName = data.lastName;
        this.userName = data.userName;
        this.email = data.email;
      });
  }
};
</script>

<style scoped>
</style>
