<template>
    <div id="app">
        <Header/>
        <div class="main-content">
            <div class="container">
                <router-view/>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Header from './components/layout/Header'
    import Footer from './components/layout/Footer'

    export default {
        name: "App",
        components: {
            Header,
            Footer
        }
    }
</script>

<style>
    @import '~bulma/css/bulma.css';
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    .input:focus, .textarea:focus, input[type]:focus, .button:focus {
        border: 1px solid #4a4a4a;
        outline: none !important;
    }

    .button:focus, .pagination-next:active, .pagination-previous:active, .pagination-link:active {
        border-color: #4a4a4a;
        box-shadow: 0 0 0 #4a4a4a;
    }

    .input, .textarea {
        padding-top: 6px;
        padding-left: 10px;
    }

    .header-wrapper {
        padding-bottom: 30px;
    }

    .hero-top {
        background-image: url(../src/assets/main.jpg);
        background-repeat: round;
        box-shadow: 0 2px 3px #000;
    }

    .header .title, .header .subtitle {
        color: whitesmoke;
    }

    .hero {
        background-color: transparent;
    }

    .nav {
        background-color: transparent;
    }

    .nav a {
        color: whitesmoke;
    }

    a.nav-item:hover, a.nav-item:active, a.nav-item:link, a.nav-item:visited {
        color: whitesmoke;
    }

    .main-content {
        padding-top: 2rem;
    }

    .box {
        padding: 30px;
    }

    .content-header {
        padding-bottom: 10px;
    }

    .content-header .subtitle {
        color: #9a9a9a;
    }

    .pagination-link.is-current, .pagination-next, .pagination-previous {
        border: 1px solid #dbdbdb;
        background-color: white;
        color: #000;
    }

    .icon .fa {
        font-size: 1.5em;
    }

    .icon {
        padding: 15px;
    }

    .post {
        padding-bottom: 50px;
    }

    .post a {
        color: #000;
    }

    .footer {
        margin-top: 2rem;
    }

    .footer p a {
        color: #4a4a4a;
    }

    .footer p a:hover {
        color: #000;
    }

    .footer a.nav-item:hover {
        color: #000;
    }

    .footer a.nav-item {
        color: #9a9a9a;
    }

    .nav-item {
        margin-right: 2%;
    }

</style>
